/* reset css */
*{
    margin: 0;
    padding: 0;
}

/* navbar starts here */

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#navbar::before{
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 1.4;
}

.logo{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo img{
    height: 200px;
    width: 200px;
    margin: 10px;
}

.logo a img:hover{
    height: 202px;
    width: 202px;
}

/* .logo h3{
    color: white;
} */


.list{
    display: flex;
    padding-bottom: 140px;
}

.item{
    list-style: none;
}

.item a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    margin: 5px 20px;
    color: red;
    padding: 3px 10px;
}

 .item a:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}


.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-bottom: 150px;
    border-bottom:2px solid blue ;
    color: white;
}

.welcome::before{
    content: "";
    background: url(./image/Remini20220124210730457.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}
.welcome h1{
    margin:30px 0px 5px 300px;
    font-size: 40px;
    color: red;
}
.welcome p{
    margin:0px 0px 0px 20px;
}


/* navbar ends here */

/* body starts here */

.middle-image img{
    height: 500px;
    width: 100%;
    
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 4px solid rgb(255, 0, 149) ;
    border-right: 10px solid rgb(255, 0, 149) ;
    margin: 0px 3px 0px 3px;
}

.about::before{
    content: "";
    background: url() no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.about h1{
    padding: 10px;
    margin: 20px;
    color: rgb(255, 30, 0);
    border-bottom: 3px solid rgb(0, 162, 255);
    border-right: 6px solid rgb(0, 183, 255);
}

.details{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
}

.details ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
    /* background-color: rgb(10, 10, 10); */
}

.details ul::before{
    content: "";
    background: url(./image/png-back.png) no-repeat center center/cover;
    height: 200px;
    width: 250px;
    position: absolute;
    z-index: -1;
    /* border: 3px solid rgb(243, 73, 6); */
    border-bottom: 3px solid rgb(243, 73, 6);
    border-right: 8px solid rgb(243, 73, 6);
}

.details ul li{
    list-style: none;
    margin: 10px;
    font-weight: bold;
    color: rgb(8, 8, 8);
}

.details ul li.name{
    font-size: 30px;
}

.details img{
    height: 200px;
    width: 200px;
    /* border: 3px solid rgb(243, 73, 6); */
    border-bottom: 3px solid rgb(243, 73, 6);
    border-right: 8px solid rgb(243, 73, 6);
    border-radius: 50%;
}

.photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo p{
    font-size: 25px;
    margin: 5px;
    color: rgb(12, 12, 11);
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 4px solid rgb(255, 0, 149) ;
    border-right: 10px solid rgb(255, 0, 149) ;
    margin: 6px 3px 6px 3px;
}

.gallery h1{
    padding: 10px;
    margin: 20px;
    color: rgb(255, 30, 0);
    border-bottom: 3px solid rgb(0, 162, 255);
    border-right: 6px solid rgb(0, 183, 255);
}

.img{
    display: flex;
    align-items: center;
}
.img img{
    height: 200px;
    width: 200px;
    /* border: 3px solid rgb(243, 73, 6); */
    border-bottom: 3px solid rgb(243, 73, 6);
    border-right: 8px solid rgb(243, 73, 6);
    border-radius: 5%;
    margin: 50px 100px 100px 100px;
}




/* body ends here */

/* footer starts here */

footer{
    display: flex;
    justify-content: space-between;
    position: relative;
}

footer::before{
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 20px 10px 20px;
    padding: 30px;
}

footer div h3{
    margin-bottom: 5px;
    color: thistle;
}

footer div p{
    margin: 3px;
    color: white;
}

div p a{
    text-decoration: none;
    color: white;
}
