*{
    margin: 0;
    padding: 0;
    background-color: #eee;
}
body{
    border: 0.0001px solid gray;
    margin: 10px;
    border-radius: 12px;
    padding: 5px;
}


.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 33px 0px 10px 0px;
}
.heading div{
    margin: 10px 0px 10px 0px;
}

.about{
    border: 0.0001px solid gray;
    border-radius: 10px;
    padding: 2px;
    margin: 10px 15px 10px 15px;
}

.img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1px solid gray;
    border-radius: 10px;
    padding: 2px;
    margin: 5px 15px 5px 15px;
}

.image{
    border: 0.2px solid #ddd;
    border-radius: 50%;
    margin: 10px 0px 10px 0px;
}


.known{
    background-color: #ddd;
    padding: 10px 500px 10px 500px;
    border: 0px solid gray;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
}
.list{
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
}
.list ul{
    display: flex;
    flex-direction:column ;
    align-items: left;
    justify-content: center;
    margin-left: 25px;
}
.list h2{
    margin:5px ;
}
.list ul li {
    margin-top: 5px ;
}

@media(max-width:820px){
    .known{
        padding: 0px 180px 0px 180px;
    }
}
@media(max-width:820px){
    .known{
        padding: 0px 180px 0px 180px;
    }
}
@media(max-width:682px){
    .known{
        padding: 0px 150px 0px 150px;
    }
}
@media(max-width:412px){
    .known{
        padding: 0px 0px 0px 0px;
    }
    .image{
        width: 75%;
    }
}